body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.navbar-inverse .navbar-nav>li.admin-name>a {
  color: #87EFF9
}

.jumbotron-group:before, .jumbotron-group:after {
  content: "";
  display: table;
}

.jumbotron-group:after {
  clear: both;
}

/* prevent blue line around bootstrap buttons */
.btn:focus {
  outline: none !important;
}
